// Navigation Styles here
.navi {
  padding: 2% 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px dashed @navigation-border;
  .links {
    .wide-for-mobile();
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    a {
      .plaintext();
      padding: 0 8px;
      &:hover{
          color: @navigation-border;
      }
    }
  }
  @media @mobile {
    .stack-it();
  }
}
